body{
    margin: 0%;
    padding: 0%;
    background: #e9ebee;
    font-family: Verdana;
}
.header{
    position: fixed;
    width: 100%;
    height: 60px;
    background:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    z-index: 10;
}
.header-navs {
    display: flex;
    justify-content: right;
    align-items: center;
   
}
.nav-elm a {
    margin: 0px 10px;
    font-size: 18px;
    cursor: pointer;
}

.nav-elm a:hover {
    color: #0079d3;
}

#logo {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    font-size: 30px;
    font-family:Impact, Charcoal, sans-serif;
}
#searchbox{
    width: 550px;
    height: 26px;
    background: #f6f7f8;
    padding: 5px;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    background-position: 465px;
    background-repeat: no-repeat;
}
.page {
    position: relative;

}

.side-h {
    font-size: 20px;
    margin-top: 10px;
}
.side-h:hover {
    color: #0079d3
}

.leftSide {
    margin-left: 10px;
}
.leftSide:hover {
    color: #0079d3

}

.side-nav {
    position: absolute;
    top: 100px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#profileArea{
    top: 10px;
    left: 850px;
    height: 35px;
    font-size: 22.5px;
    font-family: Verdana, Geneva, sans-serif;
}
a{
    color:#000 ;
    text-decoration: none;
}
#profileArea:hover {
    background: rgb(235, 235, 235);
}

textarea {
    resize: none;
}

.postarea {
    top: 70px;
    left: 240px;
    position: absolute;
    width: 600px;
    height: 215px;
    box-shadow: 0 3px 8px rgb(0,0,0,0.25);
}
.post1{
    top: 290px;
    left: 240px;
    position: absolute;
    background: #ffffff;
    width: 580px;
    height: 600px;
    border-radius: 3px ;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
.post2{
    top: 910px;
    left: 240px;
    position: absolute;
    background: #ffffff;
    width: 580px;
    height: 600px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
.post3{
    top: 1530px;
    left: 240px;
    position: absolute;
    background: #ffffff;
    width: 580px;
    height: 600px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
.post4{
    top: 2150px;
    left: 240px;
    position: absolute;
    background: #ffffff;
    width: 580px;
    height: 600px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
.post5{
    top: 2770px;
    left: 240px;
    position: absolute;
    background: #ffffff;
    width: 580px;
    height: 600px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
.post{
    top: 70px;
    left: 240px;
    position: absolute;
    width: 600px;
    height: 210px;
   
}
#column1{
    left: 0px;
    top: 0px;
    background: #ffffff;
    width: 580px;
    height: 200px;
    border-radius: 3px;
    font-size: 15px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#postbtn{
    left: 500px;
    top: 170px;
    width: 85px;
    height: 30px;
}
#btnpost{
    width: 85px;
    height: 30px;
    border-radius: 4px;
    background-color: #0079d3;
    font-size: 15px;
    outline: none;
    color: #ffffff;
}
#postBoxArea{
    top: 45px;
    left: 10px;
    border-radius: 3px;
    height: 105px;
    width: 580px;
}
#postBox{
    height: 105px;
    outline: none;
    border-radius: 3px;
    border: #fff;
    width: 580px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
